.home-container{
    background:linear-gradient(to bottom,#cfdfe7, #154a61);
}

header{
    height: 70px;
    background-color: transparent;
    border-bottom: 2px solid #20549c36;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 9;
}

/* Header Logo */
header .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
    margin-left: 5px;
    border-radius: 10px;

    cursor: pointer;

    text-decoration: none;

    transition: all 1s;
}
header .logo-container img{
    width: 50px;
    margin-right:10px;
}
header .logo-container span{
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    color: black;
}

/* Header Nav Main */
header .nav-main{
    width: 100%;
    align-self: flex-end;
}
header .nav-main ul{
    list-style: none;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
header .nav-main ul li{
    margin-bottom: 10px;
    transition: all 1s;
}
header .nav-main ul li:hover{
    transform: translateY(-10px);
}
header .nav-main ul li .link{
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 20px;
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    border-top: 3px solid #20549c36;
    border-left: 1px solid #20549c36; 
    border-right: 1px solid #20549c36;
    background-color: transparent;
    border-bottom: none;
    transition: background-color 1s, padding 1s;
}
header .nav-main ul li .link.first-list{
       border-left: 2px solid #20549c36; 
}
header .nav-main ul li .link.noclick{
    border-top: 3px solid #20549c36;
    border-left: 1px solid #20549c36; 
    border-right: 1px solid #20549c36;
    padding: 10px 20px 3px;
}
header .nav-main ul li .link.noclick:hover{
    background-color: transparent;
    padding-bottom: 5px;
}
header .nav-main ul li .link:hover{
    background-color: rgba(255,255,255,.4);
    padding-bottom: 20px;
}

/* Heade Toggler Container */
header .toggle-container img.open:hover{
    transform: rotate(90deg);
}
header .toggle-container img.none{
    display: none;
}
header .toggle-container img{
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 1s;
}
header .toggle-container nav.none{
    height: 0;
    display: none;
}
header .toggle-container nav{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #dcc493;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:10px;
    transition:  all 1s;
    z-index: 9;
}
header .toggle-container nav ul li{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);

}
header .toggle-container nav ul li .link{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    width: 100%;
    text-align: center;
}
 
/* Outlet Container */
.outlet-container{
    position: relative;
    min-height: calc(100vh - 70px);
}

/* Footer */
footer{
    margin-top: 10px;
    padding-top: 30px;
    min-height: 140px;
    background-color: rgba(255,255,255,.1);
    border-top: 2px solid rgba(255,255,255,.4);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    z-index: 9;
}

/* Footer Logo */
footer .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px 10px;
    margin-left: 5px;
    border-radius: 10px;

    cursor: pointer;

    text-decoration: none;

    transition: all 1s;
}
footer .logo-container img{
    width: 50px;
    margin-right:10px;
}
footer .logo-container span{
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    color: black;
}

/* Footer Nav Main */
footer .nav-main{
    width: 100%;
    margin-top: 10px;
    align-self: flex-start;
}
footer .nav-main ul{
    list-style: none;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer .nav-main ul li{
    transition: all 1s;
    margin-left: 10px;
}
footer .nav-main ul li:hover{
    transform: translateY(-10px);
}
footer .nav-main ul li .link{
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    border-top: 3px solid rgba(255,255,255,.4);
    border-bottom: 3px solid rgba(255,255,255,.4);
    border-left: 1px solid rgba(255,255,255,.4); 
    border-right: 1px solid rgba(255,255,255,.4);
    transition: background-color 1s, padding 1s;
}
footer nav ul li .link.noclick{
    border-top: 3px solid rgba(255,255,255,.4);
    border-bottom: 3px solid rgba(255,255,255,.4);
    border-left: 1px solid rgba(255,255,255,.4); 
    border-right: 1px solid rgba(255,255,255,.4);
}
footer .nav-main ul li .link.first-list{
       border-left: 2px solid rgba(255,255,255,.4); 
}
footer .nav-main ul li .link:hover{
    background-color: rgba(255,255,255,.2);
    padding-top: 15px;
    padding-bottom: 15px;
}
footer nav ul li .link.noclick:hover{
    padding-top: 15px;
    padding-bottom: 15px;
}


nav ul li .link.noclick{
    background-color: transparent;
    border: none;
    cursor: pointer;
}



/* Media Query`s */
@media all and (max-width:855px){
    header .nav-main{
        display: none;
    }

}
@media all and (max-width:910px){
    footer{
        justify-content: center;
        align-items: center;
    }
    footer .nav-main{
        display: none;
    }
}
@media all and (min-width:855px){
    header .toggle-container{
        display: none;
    }
}