.carrosel-produto-container{
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfeded;
    border-radius: 10px;
}
.carrosel-produto-container .choice-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 0 20px 0 30px;
}
.carrosel-produto-container .choice-image img{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.carrosel-produto-container .image-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrosel-produto-container .image-content img{
    max-height: 500px;
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    height: 100%;
    width: 100%;

    border-radius: 10px;
    cursor: auto;
}

/* Media Query */

@media all and (max-width:950px){
    .carrosel-produto-container .image-content img{
        max-height: 300px;
        max-width: 300px;
        min-width: 100px;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }

}

@media all and (max-width:800px){
    .carrosel-produto-container{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .carrosel-produto-container .choice-image{
        flex-direction: row;
        margin: 0;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .carrosel-produto-container .choice-image img{
        margin: 10px;
    }
    .carrosel-produto-container .image-content img{
        max-height: 300px;
        max-width: 300px;
        min-width: 100px;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width:550px){
    .carrosel-produto-container{
        width: 260px;
        margin: 10px 0;
        padding: 10px 0 0;
    } 
    .carrosel-produto-container .image-content img{
        max-height: 250px;
        max-width: 200px;
        min-width: 100px;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }
    .carrosel-produto-container .choice-image img{
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
    .carrosel-produto-container .choice-image{
        flex-wrap: wrap;
    }
}